<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ContratoMantenimientoEntities" connectionString="metadata=res://*/Modelos.ContratoMantenimiento.csdl|res://*/Modelos.ContratoMantenimiento.ssdl|res://*/Modelos.ContratoMantenimiento.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=190.196.183.198;initial catalog=ContratoMantenimiento;persist security info=True;user id=dnk;password=Dnk@2021;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TechnicalServiceEntities" connectionString="metadata=res://*/Modelos.ServicioTecnico.csdl|res://*/Modelos.ServicioTecnico.ssdl|res://*/Modelos.ServicioTecnico.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=190.196.183.198;initial catalog=TechnicalService;persist security info=True;user id=dnk;password=Dnk@2021;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LocalHWMEntities" connectionString="metadata=res://*/Modelos.LocalHWM.csdl|res://*/Modelos.LocalHWM.ssdl|res://*/Modelos.LocalHWM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=hwmdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>